.navigation {
    background-color: #f7ff83;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}

.navigation__list {
    text-align: center;
}

.navigation__item {
    list-style: none;
    display: inline;
    margin: 10px;
}

.navigation__link {
    text-decoration: none;
    color: black;
    background-color: hsl(126, 100%, 76%);
    padding: 5px 10px;
    border: 2px solid black;
    font-weight: 700;
    border-radius: 5px;
}

.navigation__link:hover {
    background-color: hsl(126, 100%, 55%);
}

.navigation__link:active {
    color: grey;
}